# Gitignore for .NET projects

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Binaries
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

## Packages
*.nupkg
*.snupkg
*.zip
.package
package-lock.json

## Rider
.idea/
*.iws
*.iml
*.ipr

## Other
*.log
*.bak
*.*proj.user

## Deployment output folders
deployment/output/
deployment/output/PortableTradeDataStudio/
deployment/output/Windows-x64/
deployment/output/Windows-x86/
